body{
    background: url(../img/background.jpg) center top no-repeat;
    text-align: center;
    
}
a{
    color: #cdad00;
    background: rgba(0,	0,	0, 0.6);
    width: 40%;
    display: inline-block;
    padding: 4px 3px;
    margin: 0.3%; 
}

li :hover{
    background: white;
}

**.hidden {
    display: none;
}

ul {
    list-style: none;
}

strong {
    text-transform: uppercase;
    color: rebeccapurple;
    
}

.main-content {
    padding: 3% 7%;
}