body{
    background-image:linear-gradient(to top right, lime, aqua);
    text-align: center;
}
a{
    color: white;
    width: 300px;
    display: inline-block;
    padding: 10px 7px;
    margin: 0.3%; 
}

li :hover{
    background: gray;
	border-radius: 5px;
}

/*.hidden {
    display: none;
}*/

li {
    list-style: none;
}

strong {
    text-transform: uppercase;
    color: rebeccapurple;
    
}

.main-content {
    padding: 3% 7%;
	width: 90%;
	max-width: 700px;
	min-width: 400px;
	margin: 0 auto;
}

ul {
	margin-left: -35px;
}