body{
    background: url(../img/background.jpg) center top no-repeat;
    text-align: center;
}
a{
   text-decoration: none;
}

.hidden {
    display: none;
}

li {
    list-style: none;
}
