html, body {
  min-height: 100%;
}

body {
    background: url(../img/background.jpg) #00cccc center no-repeat;
    background-size: cover;
}

#greeting {
    text-align: center;
}

.margin {
    margin: 25px;
}

img {
    width: 100%
}

.background {
    margin: 5px;
    padding: 5px 25px;
    background: rgba(255,255,255,0.5);
}

#form-container {
    text-align: center;
}

.no_marks {
    list-style: none;
    margin: 0px -40px;
}
